@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Rubik:wght@400;600&display=swap");

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Rubik", sans-serif;
}

.flex {
    display: flex;
}

.books {
    max-width: 200px;
}


.games,
.crafts {
    max-width: 300px;
}

.section-container {
    flex-direction: column;
    padding: 5%;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

nav>div {
    padding: 0% 5%;
}

#cart {
    font-weight: bold;
    align-items: center;
}

nav img {
    height: 35px;
}

header {
    background-image: url("./assets/kw-background.png");
    color: white;
    background-size: 100% 100%;
    height: 500px;
}

.header-text {
    flex-direction: column;
    max-height: 100%;
    max-width: 20%;
    padding: 4% 5%;
}

header h1 {
    font-size: 7vh;
}

header h5 {
    font-size: 23px;
    margin-top: 20px;
}

.section {
    margin: 4% 0%;
}

.button {
    cursor: pointer;
    background-color: #6095ff;
    color: white;
    padding: 7px;
    border-radius: 7px;
    width: 80px;
}

.button:hover {
    background-color: #224996;
    transition-duration: 0.2s;
}

.buy img {
    width: 20px;
    padding-left: 5px;
}

.buy {
    margin-top: 15px;
    padding-bottom: 50px;
}

footer {
    padding: 0% 5%;
    background-image: url("http://i1.faceprep.in/prograd-junior/footer-bg.png");
    background-size: 100% 100%;
    color: white;
}

footer img {
    height: 200px;
    width: 200px;
}

#details {
    flex-direction: column;
    text-align: right;
}

h4 {
    color: grey;
    font-weight: lighter;
}

.buy p {
    font-weight: bold;
    font-size: 20px;
}

h3,
h2 {
    margin-bottom: 10px;
}

.container {
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    header {
        height: 200px;
        font-size: 15px;
        text-align: start;
    }

    header h1 {
        font-size: 4vh;
    }

    header h5 {
        font-size: 15px;
    }

    .header-text {
        padding: 0% 60% 5% 5%;
    }

    body {
        text-align: center;
    }

    .container {
        justify-content: center;
    }
}
